body {
    font-family: Arial, Helvetica, sans-serif;
}

/*---       HEADER START       --- */
header {
    background-color: #3e3e3e;
    padding: 15;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    box-shadow: 0 0 3px #000;
}

.logo img {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    border: 3px solid #b60000;
    box-shadow: 2px 2px 2px #000;
    transition: 0.3s ease;
    cursor: pointer;
    background-color: #808080;
}

.logo h1 {
    color: #b60000;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}

.navbar li {
    display: inline-block;
    padding: 5px;
}

.navbar a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px #000;
    padding: 13px;
    transition: .3s ease;
    display: block;
    height: 100%;
}

.navbar a:hover {
    color: #b60000;
}

.navbar ul #contact a {
    color: #b60000;
    text-shadow: none;
    font-size: 18px;
    background-color: #808080;
    border-radius: 30px;
}

.navbar ul #contact a:hover {
    color: #252525;
}

/*---       HEADER END       --- */

/*-----    CONTACT START  ----- */

#contact {
    background: #080808;
    color: #fff;
}

.contact-left {
    flex-basis: 40%;
    padding: 50px;
}

.contact-right {
    flex-basis: 60%;
    padding: 50px;
}

.contact-left p {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}

.contact-left p i {
    color:#b60000;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#3e3e3e;
    display: inline-block;
    transition: transform 0.8s;
}

.social-icons a:hover {
    color:#b60000;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background:#b60000;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

#msg {
    color:#b60000;
    margin-top: -40px;
    display: block;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color:#b60000;
}

/*-----    CONTACT END  ----- */