:root {
    --main-color: #b60000;
    --background: #202020;
    --text-color: #fff;
    --box-show: #000;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}

/*---       HEADER START       --- */
header {
    background-color: var(--main-color);
    padding: 15;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    box-shadow: 0 0 3px var(--box-show);
    border-bottom: 1px solid var(--main-color); 
}

.logo img {
    float: left;
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
    border: 3px solid var(--background);
    box-shadow: 2px 2px 2px var(--background);
    background-color: var(--background);
    color: var(--text-color);
}

.logo h1 {
    color: var(--text-color);
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 2px var(--box-show);
}

.navbar li {
    display: inline-block;
    padding: 5px;
}

.navbar ul a .fa-sharp {
    color: var(--box-show);
    margin: 5px;
}

.navbar a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px var(--background);
    padding: 13px;
    transition: .6s ease;
    display: block;
    height: 100%;
}

.navbar a:hover {
    color: var(--background);
    text-shadow: none;
}

.navbar ul #contact a {
    color: var(--background);
    text-shadow: none;
    font-size: 18px;
    background-color: var(--text-color);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: .6s ease;
}

.navbar ul #contact a:hover {
    color: var(--text-color);
    background-color: var(--background);
}

.navbar ul #contact a .fa-sharp {
    color: var(--box-show);
}
.navbar ul #contact a:hover .fa-sharp {
    color: var(--main-color); 
}

/*---       HEADER END       --- */

/*---       MAIN STARTS       --- */
main {
    background-color: var(--background); 
    color: var(--text-color);
    text-align: center;
    border-top: 1px solid var(--main-color);
}

main section {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

main h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

main p {
    font-size: 18px;
    line-height: 1.5;
    text-shadow: 2px 2px 2px var(--box-show);
}
/*---       MAIN ENDS       --- */

/*---       FOOTER START     --- */
footer {
    background-color: var(--background);
    color: var(--text-color);
    text-align: center;
    border-top: 1px solid var(--main-color);
}

.footer-section {
    display: inline-block;
    padding: 20px;
}

footer h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px var(--box-show);
}

footer p {
    font-size: 14px;
    margin: 0;
    text-shadow: 2px 2px 2px var(--box-show);
}

.footer-section h3 .fa-sharp {
    color: var(--main-color);
    margin: 5px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--background);
    font-weight: 300;
    color: #fff;
    border-top: 1px solid var(--main-color);
}

.copyright i {
    color:var(--main-color);
}

/*---       FOOTER END     --- */