:root {
    --main-color: #b60000;
    --background: #202020;
    --text-color: #fff;
    --box-show: #000;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}

/*---       HEADER START       --- */
header {
    background-color: var(--main-color);
    padding: 15;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    box-shadow: 0 0 3px var(--box-show);
    border-bottom: 1px solid var(--main-color); 
}

.logo img {
    float: left;
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
    border: 3px solid var(--background);
    box-shadow: 2px 2px 2px var(--background);
    background-color: var(--background);
    color: var(--text-color);
}

.logo h1 {
    color: var(--text-color);
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 2px var(--box-show);
}

.navbar li {
    display: inline-block;
    padding: 5px;
}

.navbar ul a .fa-sharp {
    color: var(--box-show);
    margin: 5px;
}

.navbar a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px var(--background);
    padding: 13px;
    transition: .6s ease;
    display: block;
    height: 100%;
}

.navbar a:hover {
    color: var(--background);
    text-shadow: none;
}

.navbar ul #contact a {
    color: var(--background);
    text-shadow: none;
    font-size: 18px;
    background-color: var(--text-color);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: .6s ease;
}

.navbar ul #contact a:hover {
    color: var(--text-color);
    background-color: var(--background);
}

.navbar ul #contact a .fa-sharp {
    color: var(--box-show);
}
.navbar ul #contact a:hover .fa-sharp {
    color: var(--main-color); 
}

/*---       HEADER END       --- */

/*---       MAIN START       --- */

body {
    min-height: 100vh;
    background-color: var(--background);
    color: var(--text-color);
}

/* EVENT PHOTOS */

.photo-gallery {
    position: relative;
    height: 400px;
    width: 50%;
    padding: 25px;
    margin: 0 auto;
}

.gallery-container {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.gallery-track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.gallery-item img {
    width: 100%;
    height: 400px;
}

.gallery-item {
    position: absolute;
    width: 100%;
}

.photo-gallery-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.photo-gallery-btn--left {
    left: -1px;
    color: var(--main-color);
}

.photo-gallery-btn--right {
    right: -1px;
    color: var(--main-color);
}

.gallery-nav {
    display: flex;
    justify-content: center;
    padding: 10 0;
}

.gallery-indicator {
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
}

.gallery-indicator.current-slide {
    background: var(--main-color);
}

.is-hidden {
    display: none;
}

/* EVENT CALENDAR */

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: var(--text-color);
    border-radius: 10px;
}

.left {
    width: 90%;
    padding: 20px;
}

.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
}

.calendar-header::before,
.calendar-header::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    transform: translateY(-50%);
}

.calendar-header::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);
}

.calendar .month {
    width: 100%;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover {
    color: var(--text-color);
}

.calendar .weekdays {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.calendar .weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.calendar .days .day {
    width: 13.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--text-color);
    border: 1px solid #fff;
}

.calendar .day:not(.prev-date , .next-date):hover {
    color: #fff;
    background-color: var(--main-color);
}

.calendar .days .prev-date,
.calendar .days .next-date {
    color: #575757;
}

.calendar .days .active {
    position: relative;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--main-color);
}

.calendar .days .active::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--main-color);
}

.calendar .days .today {
    font-size: 1.4rem;
}

.calendar .days .event {
    position: relative;
}

.calendar .days .event::after {
    content: '';
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--main-color);
}

.calendar .event:hover::after {
    background-color: var(--background);
}

.calendar .active.event::after {
    background-color: var(--background);
    bottom: 20%;
}

.calendar .active.event {
    padding-bottom: 10px;
}

.calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--main-color);
}

.calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--main-color);
}

.calendar .goto-today .goto input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--main-color);
}

.calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solod var(--main-color);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-color);
}

.calendar .goto-today button:hover {
    color: var(--main-color);
    background-color: var(--box-show);
}

.calendar .goto-today .goto button {
    border: none;
    border-left: 1px solid var(--main-color);
    border-radius: 0;
}

/* OTHER Calendar Styles */

/* .calendarr {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.calendarr h2 {
    font-size: 28px;
    margin-bottom: 20px;  
}

.calendarr table {
    width: 100%;
    border-collapse: collapse;
}

.calendarr th, 
.calendarr td {
    padding: 10px;
    border: 1px solid #ddd;
}

.calendarr th {
    background-color: #333;
    color: #fff;
}

.calendarr td.event {
    background-color: #eee;
}

.calendarr .event-name {
    font-weight: bold;
    margin-bottom: 6px;
}

.calendarr .event-details {
    font-size: 14px;
} */

/*---       MAIN END       --- */


/*---       FOOTER START     --- */
footer {
    background-color: var(--background);
    color: var(--text-color);
    text-align: center;
    border-top: 1px solid var(--main-color);
}

.footer-section {
    display: inline-block;
    padding: 20px;
}

footer h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px var(--box-show);
}

footer p {
    font-size: 14px;
    margin: 0;
    text-shadow: 2px 2px 2px var(--box-show);
}

.footer-section h3 .fa-sharp {
    color: var(--main-color);
    margin: 5px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--background);
    font-weight: 300;
    color: #fff;
    border-top: 1px solid var(--main-color);
}

.copyright i {
    color:var(--main-color);
}

/*---       FOOTER END     --- */